.alles {
background-color: lightblue;
}

.boven {
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: lightcoral;
}

.onder {
    display: flex;
    justify-content: center;
    font-size: 200px;
    color: green;
    top: 100px;
}

.foto {
    display: flex;
    justify-content: center;
}
